In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df=pd.read_csv("D:\\SimpliLearn\\Python\\ML\\area_price.csv")

In [4]:
df

   area  bedroom  age   price
0  2600      3.0    9  552222
1  2500      3.0    3  650000
2  2700      4.0    5  750000
3  2800      NaN   10  650000
4  3300      5.0   20  620000
5  4500      6.0   25  650000

In [6]:
#for nan i'll take mmedian bedroom
import math as ma
median_bed=ma.floor(df.bedroom.median())
median_bed

4

In [7]:
##now fill na will median
df.bedroom=df.bedroom.fillna(median_bed)
df

   area  bedroom  age   price
0  2600      3.0    9  552222
1  2500      3.0    3  650000
2  2700      4.0    5  750000
3  2800      4.0   10  650000
4  3300      5.0   20  620000
5  4500      6.0   25  650000

In [8]:
#create regression model
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price) #price is dependent variable whereas others are independent

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
#check coeff.
reg.coef_    #coeff. in this are m1+m2+m3
#formula of multi reg is # Y= m1x1+m2x2+m3x3+b

array([-1.06634943e+01,  1.29661183e+05, -1.67290140e+04])

In [9]:
#b is the intercept
reg.intercept_

338564.95324130624

In [10]:
#now predict
reg.predict([[3000,4,20]])

array([490638.92402881])