In [1]:
import pandas as pd
nums = {'amount': [10, 250, 3000, 40000, 500000]}
print("Original dataframe:")
df = pd.DataFrame(nums)
df

Original dataframe:

   amount
0      10
1     250
2    3000
3   40000
4  500000

In [2]:
print('adding zeros')
df['amount']=df['amount'].apply(lambda x: '{0:0>8}'.format(x))

adding zeros

In [3]:
df

     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000