Write a Pandas program to check whether alpha numeric values present in a given column of a DataFrame.

Note: isalnum() function returns True if all characters in the string are alphanumeric and there is at least one character, False otherwise

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

In [2]:
df

      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0

In [5]:
df['name_code_isalpha']=list(map(lambda x: x.isalnum(),df['name_code']))

In [6]:
df

      name_code date_of_birth    age  name_code_isalpha
0       Company     12/05/2002  18.5               True
1  Company a001     16/02/1999  21.2              False
2   Company 123     25/09/1998  22.5              False
3          1234     12/02/2022  22.0               True
4    Company 12     15/09/1997  23.0              False