In [1]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })

In [2]:
df

                    name_email
0  Alberto Franco af@gmail.com
1    Gino Mcneill gm@yahoo.com
2        Ryan Parkes rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com

In [3]:
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
df['email']=df['name_email'].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
df

\Extracting email from dataframe columns:

                    name_email          email
0  Alberto Franco af@gmail.com   af@gmail.com
1    Gino Mcneill gm@yahoo.com   gm@yahoo.com
2        Ryan Parkes rp@abc.io      rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com  gm@github.com