In [2]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg','#games of Throne','#india']
    })

In [3]:
df

                                  tweets
0                    #Obama says goodbye
1                     Retweets for #cash
2  A political endorsement in #Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg
5                       #games of Throne
6                                 #india

In [5]:
def find_hash(text):
    hword=re.findall(r'(?<=#)\w+',text)
    return " ".join(hword)

In [6]:
df['hash_word']=df['tweets'].apply(lambda x: find_hash(x))
df

                                  tweets  hash_word
0                    #Obama says goodbye      Obama
1                     Retweets for #cash       cash
2  A political endorsement in #Indonesia  Indonesia
3                 1 dog = many #retweets   retweets
4                     Just a simple #egg        egg
5                       #games of Throne      games
6                                 #india      india

Write a Pandas program to extract word mention someone in tweets using @ from the specified column of a given DataFrame

In [12]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['@Obama says goodbye','Retweets for @cash','A @political endorsement in @Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })

In [9]:
df

                                  tweets
0                    @Obama says goodbye
1                     Retweets for @cash
2  A political endorsement in @Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

In [13]:
def find_attherate(text1):
    atword=re.findall(r'(?<=@)\w+',text1)
    return " ".join(atword)

In [14]:
df['At_theRate']=df['tweets'].apply(lambda x: find_attherate(x))
df

                                   tweets           At_theRate
0                     @Obama says goodbye                Obama
1                      Retweets for @cash                 cash
2  A @political endorsement in @Indonesia  political Indonesia
3                  1 dog = many #retweets
4                      Just a simple #egg

Write a Pandas program to extract only number from the specified column of a given DataFrame

In [20]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['7277 Surrey Ave.','920 N. 56 Bishop Ave.','9910 Golden Star St 998 .', '25 Dunbar St.', '17 West Livingston Court']
    })

In [17]:
df

  company_code                   address
0        c0001          7277 Surrey Ave.
1        c0002        920 N. Bishop Ave.
2        c0003      9910 Golden Star St.
3        c0003             25 Dunbar St.
4        c0004  17 West Livingston Court

In [21]:
def id_number(text):
    atnum=re.findall(r'[0-9]+',text)
    return " ".join(atnum)

In [22]:
df['find_num']=df['address'].apply(lambda x: id_number(x))
df

  company_code                    address  find_num
0        c0001           7277 Surrey Ave.      7277
1        c0002      920 N. 56 Bishop Ave.    920 56
2        c0003  9910 Golden Star St 998 .  9910 998
3        c0003              25 Dunbar St.        25
4        c0004   17 West Livingston Court        17