In [1]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
df

Original DataFrame:

  company_code date_of_sale                      address
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

In [4]:
def remove_tags(string):
    result= re.sub('<.*?>','',string)
    return result

In [5]:
df['without_tag']=df['address'].apply(lambda xx:remove_tags(xx))
df

,company_code,date_of_sale,address,without_tag
0,Abcd,12/05/2002,9910 Surrey <b>Avenue</b>,9910 Surrey Avenue
1,EFGF,16/02/1999,92 N. Bishop Avenue,92 N. Bishop Avenue
2,zefsalf,05/09/1998,9910 <br>Golden Star Avenue,9910 Golden Star Avenue
3,sdfslew,12/02/2022,102 Dunbar <i></i>St.,102 Dunbar St.
4,zekfsdf,15/09/1997,17 West Livingston Court,17 West Livingston Court