Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])
print("Original series:")
s

Original series:

0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

In [2]:
print('to uppercase')
s.str.upper()

to uppercase

0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

In [3]:
print('to lower')
s.str.lower()

to lower

0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

In [5]:
print('check the length')
s.str.len()

check the length

0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64