Write a Pandas program to count of occurrence of a specified substring in a DataFrame column

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")

Original DataFrame:

In [2]:
df

  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

In [3]:
df['count']=list(map(lambda x:x.count('2'),df['name_code']))

In [4]:
df

  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4