In [1]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue\n9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.\n102 Dunbar St.', '17 West Livingston Court']
})

print("Original DataFrame:")
df

Original DataFrame:

  company_code date_of_sale                                 address
0         Abcd   12/05/2002  9910 Surrey Avenue\n9910 Surrey Avenue
1         EFGF   16/02/1999                     92 N. Bishop Avenue
2      zefsalf   05/09/1998                 9910 Golden Star Avenue
3      sdfslew   12/02/2022          102 Dunbar St.\n102 Dunbar St.
4      zekfsdf   15/09/1997                17 West Livingston Court

In [2]:
def find_unique(text):
    result=re.findall(r'(?sm)(^[^\r\n]+$)(?!.*^\1$)', text)
    return result

In [3]:
df['unique_sen']=df['address'].apply(lambda x: find_unique(x))
df

,company_code,date_of_sale,address,unique_sen
0,Abcd,12/05/2002,9910 Surrey Avenue\n9910 Surrey Avenue,[9910 Surrey Avenue]
1,EFGF,16/02/1999,92 N. Bishop Avenue,[92 N. Bishop Avenue]
2,zefsalf,05/09/1998,9910 Golden Star Avenue,[9910 Golden Star Avenue]
3,sdfslew,12/02/2022,102 Dunbar St.\n102 Dunbar St.,[102 Dunbar St.]
4,zekfsdf,15/09/1997,17 West Livingston Court,[17 West Livingston Court]