In [1]:
import pandas as pd

In [2]:
ds1= pd.Series([2,4,6,8,10])
ds2= pd.Series([4,6,8,10,12])

In [4]:
print("add two series")
ds3=ds1+ds2
ds3

add two series

0     6
1    10
2    14
3    18
4    22
dtype: int64

In [5]:
print ("subtract two series")
ds3= ds2-ds1
ds3

subtract two series

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [7]:
print ("multiply two seies")
ds3=ds1*ds2
ds3

multiply two seies

0      8
1     24
2     48
3     80
4    120
dtype: int64

In [9]:
print("divede")
ds3=ds2/ds1
ds3

divede

0    2.000000
1    1.500000
2    1.333333
3    1.250000
4    1.200000
dtype: float64