In [1]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [2]:
print("Change the said data type to numeric:")

Change the said data type to numeric:

In [12]:
s2= pd.to_numeric(s1,errors='coerce') # If 'coerce', then invalid parsing will be set as NaN.

In [11]:
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64