In [1]:
import pandas as pd
import numpy as np
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [2]:
print("\nItems of a given series not present in another given series:")

Items of a given series not present in another given series:

In [4]:
sr11=pd.Series(np.union1d(sr1,sr2))

In [5]:
sr11

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

In [7]:
sr22=pd.Series(np.intersect1d(sr1,sr2))
sr22

0    2
1    4
dtype: int64

In [9]:
new=sr11[~sr11.isin(sr22)]
new

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [11]:
new1=sr1[~sr1.isin(sr2)]
new1

0    1
2    3
4    5
dtype: int64