In [ ]:
Input:
{ 'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'], 'Age': [18, 22, 40, 50, 80, 5] }
Output:
Age group:
0 kids
1 adult
2 elderly
3 adult
4 elderly
5 kids
Name: age_groups, dtype: category
Categories (3, object): [kids < adult < elderly]

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
      'age': [18, 22, 85, 50, 80, 5]
})
print("Original DataFrame:")
df

Original DataFrame:

             name  age
0  Alberto Franco   18
1    Gino Mcneill   22
2     Ryan Parkes   85
3    Eesha Hinton   50
4    Syed Wharton   80
5   Kierra Gentry    5

In [3]:
df["agegroup"]=pd.cut(df['age'],bins=[0,18,65,99], labels=['Kids','Adult','Elderly'])

In [4]:
df

             name  age agegroup
0  Alberto Franco   18     Kids
1    Gino Mcneill   22    Adult
2     Ryan Parkes   85  Elderly
3    Eesha Hinton   50    Adult
4    Syed Wharton   80  Elderly
5   Kierra Gentry    5     Kids