In [1]:
import pandas as pd
import numpy as np
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
df = pd.DataFrame(exam_data)

In [2]:
for index, row in df.iterrows():
    print(row['name'],row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

In [3]:
df

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5

In [6]:
#rename cloumns name
df=df.rename(columns={'name':'Name','score':'Score'})
df

        Name  Score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5