Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame

In [2]:
import pandas as pd
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
 
print("Original DataFrames:")
data1

Original DataFrames:

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [3]:
data2

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [4]:
print ('merging two dataframs')
newdata= data1.join(data2)

merging two dataframs

In [5]:
newdata

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

Write a Pandas program to merge two given dataframes with different columns.

In [6]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [9]:
result=pd.concat([data1,data2],axis=0,ignore_index=True)
result

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3