Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.

In [2]:
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
result=df1.combine_first(df2)

#Update null elements with value in the same location in `other`.

#Combine two DataFrame objects by filling null values in one DataFrame
#with non-null values from other DataFrame. The row and column indexes
#of the resulting DataFrame will be the union of the two.

In [3]:
result

     A  B
0  1.0  3
1  0.0  4
2  3.0  5