In [1]:
import pandas as pd
df=pd.read_csv("Alcohole.csv")
df

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset

In [4]:
df.shape

(100, 5)

In [6]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [7]:
df.columns

Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset

In [10]:
print("1st two rows")
print(df.iloc[:2])

1st two rows
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

In [11]:
print("1st two columns")
print(df.iloc[:,:2])

1st two columns
    Year       WHO region
0   1986  Western Pacific
1   1986         Americas
2   1985           Africa
3   1986         Americas
4   1987         Americas
..   ...              ...
95  1984           Africa
96  1985           Europe
97  1984  South-East Asia
98  1984           Africa
99  1985  South-East Asia

[100 rows x 2 columns]

Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset

In [12]:
print(df.sample(5))

    Year       WHO region                Country Beverage Types  Display Value
37  1986           Europe                 Sweden           Beer           3.04
95  1984           Africa                  Niger          Other           0.00
35  1985         Americas  Saint Kitts and Nevis        Spirits           2.24
43  1984  Western Pacific                  China           Wine           0.03
44  1985           Europe              Lithuania          Other            NaN

In [14]:
print("\nSelect fraction of randome rows:")
print(df.sample(frac=.3))

Select fraction of randome rows:
    Year             WHO region                           Country Beverage Types  Display Value
4   1987               Americas             Saint Kitts and Nevis           Beer           1.98
86  1986               Americas                           Bahamas           Wine           1.83
61  1984        Western Pacific                  Papua New Guinea        Spirits           0.08
92  1986                 Africa                           Eritrea        Spirits           0.00
0   1986        Western Pacific                          Viet Nam           Wine           0.00
97  1984        South-East Asia                         Indonesia           Wine           0.00
83  1986                 Europe                           Ukraine          Other            NaN
48  1987               Americas                         Nicaragua           Beer           0.70
94  1985                 Europe                           Ukraine        Spirits           3.06
66  1987  Eastern Mediterranean                              Iraq           Wine           0.01
52  1986  Eastern Mediterranean                      Saudi Arabia           Wine           0.00
9   1984                 Africa                           Nigeria          Other           6.10
79  1989                 Europe                           Finland          Other           2.09
6   1987                 Africa                         Mauritius           Wine           0.13
78  1989               Americas                           Jamaica          Other           0.00
75  1989  Eastern Mediterranean                       Afghanistan          Other           0.00
77  1985                 Africa                          Cameroon        Spirits           0.01
31  1986        Western Pacific  Micronesia (Federated States of)           Wine           0.00
30  1986                 Africa                      Sierra Leone          Other           4.48
49  1986                 Europe                             Malta           Wine           1.49
36  1987  Eastern Mediterranean                             Egypt           Beer           0.07
24  1985                 Africa                           Comoros          Other            NaN
18  1984                 Europe                            Norway        Spirits           1.62
65  1989  Eastern Mediterranean                           Somalia           Beer           0.00
44  1985                 Europe                         Lithuania          Other            NaN
76  1985                 Africa                           Comoros           Beer           0.02
88  1987  Eastern Mediterranean                           Lebanon           Beer           0.42
2   1985                 Africa                      Cte d'Ivoire           Wine           1.62
96  1985                 Europe                        Luxembourg           Wine           7.38
25  1984  Eastern Mediterranean                           Tunisia          Other           0.00

Write a Pandas program to find and drop the missing values from World alcohol consumption dataset

In [16]:
df[df.isnull()]

    Year WHO region Country Beverage Types  Display Value
0    NaN        NaN     NaN            NaN            NaN
1    NaN        NaN     NaN            NaN            NaN
2    NaN        NaN     NaN            NaN            NaN
3    NaN        NaN     NaN            NaN            NaN
4    NaN        NaN     NaN            NaN            NaN
..   ...        ...     ...            ...            ...
95   NaN        NaN     NaN            NaN            NaN
96   NaN        NaN     NaN            NaN            NaN
97   NaN        NaN     NaN            NaN            NaN
98   NaN        NaN     NaN            NaN            NaN
99   NaN        NaN     NaN            NaN            NaN

[100 rows x 5 columns]

In [17]:
df1=df

In [21]:
df1=df1.dropna()

In [22]:
df1

    Year       WHO region                                Country Beverage Types  Display Value
0   1986  Western Pacific                               Viet Nam           Wine           0.00
1   1986         Americas                                Uruguay          Other           0.50
2   1985           Africa                           Cte d'Ivoire           Wine           1.62
3   1986         Americas                               Colombia           Beer           4.27
4   1987         Americas                  Saint Kitts and Nevis           Beer           1.98
..   ...              ...                                    ...            ...            ...
95  1984           Africa                                  Niger          Other           0.00
96  1985           Europe                             Luxembourg           Wine           7.38
97  1984  South-East Asia                              Indonesia           Wine           0.00
98  1984           Africa                      Equatorial Guinea           Wine           0.00
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine           0.00

[95 rows x 5 columns]

Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [25]:
df.drop_duplicates()

    Year       WHO region                                Country Beverage Types  Display Value
0   1986  Western Pacific                               Viet Nam           Wine           0.00
1   1986         Americas                                Uruguay          Other           0.50
2   1985           Africa                           Cte d'Ivoire           Wine           1.62
3   1986         Americas                               Colombia           Beer           4.27
4   1987         Americas                  Saint Kitts and Nevis           Beer           1.98
..   ...              ...                                    ...            ...            ...
95  1984           Africa                                  Niger          Other           0.00
96  1985           Europe                             Luxembourg           Wine           7.38
97  1984  South-East Asia                              Indonesia           Wine           0.00
98  1984           Africa                      Equatorial Guinea           Wine           0.00
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine           0.00

[100 rows x 5 columns]

In [27]:
df

    Year       WHO region                                Country Beverage Types  Display Value
0   1986  Western Pacific                               Viet Nam           Wine           0.00
1   1986         Americas                                Uruguay          Other           0.50
2   1985           Africa                           Cte d'Ivoire           Wine           1.62
3   1986         Americas                               Colombia           Beer           4.27
4   1987         Americas                  Saint Kitts and Nevis           Beer           1.98
..   ...              ...                                    ...            ...            ...
95  1984           Africa                                  Niger          Other           0.00
96  1985           Europe                             Luxembourg           Wine           7.38
97  1984  South-East Asia                              Indonesia           Wine           0.00
98  1984           Africa                      Equatorial Guinea           Wine           0.00
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine           0.00

[100 rows x 5 columns]

In [33]:
print((df[df['Year']==1987) | (df['Year']==1989)]).head(10)

SyntaxError: invalid syntax (<ipython-input-33-11cc8491269e>, line 1)

Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [34]:
df

    Year       WHO region                                Country Beverage Types  Display Value
0   1986  Western Pacific                               Viet Nam           Wine           0.00
1   1986         Americas                                Uruguay          Other           0.50
2   1985           Africa                           Cte d'Ivoire           Wine           1.62
3   1986         Americas                               Colombia           Beer           4.27
4   1987         Americas                  Saint Kitts and Nevis           Beer           1.98
..   ...              ...                                    ...            ...            ...
95  1984           Africa                                  Niger          Other           0.00
96  1985           Europe                             Luxembourg           Wine           7.38
97  1984  South-East Asia                              Indonesia           Wine           0.00
98  1984           Africa                      Equatorial Guinea           Wine           0.00
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine           0.00

[100 rows x 5 columns]

In [44]:
#print(df[(df['Year']==1986) & (df['WHO region']=='Western pacific') & (df['Country']=='Viet Nam')])
print(df[(df['Year']==1986) & (df['WHO region']=='Western Pacific') & (df['Country']=='Viet Nam')])

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [56]:
print(df[((df['Year']==1986) | (df['Year']==1989)) & ((df['WHO region']=='Americas') | (df['WHO region']=='Europe'))].head(10))
#print(df[((df['Year']==1985) | (df['Year']==1989)) & ((df['WHO region']=='Americas') | (df['WHO region']=='Europe'))].head(10))

    Year WHO region              Country Beverage Types  Display Value
1   1986   Americas              Uruguay          Other           0.50
3   1986   Americas             Colombia           Beer           4.27
8   1986   Americas  Antigua and Barbuda        Spirits           1.55
11  1989   Americas            Guatemala           Beer           0.62
21  1989   Americas           Costa Rica        Spirits           4.51
29  1986     Europe                Italy          Other            NaN
34  1986     Europe   Russian Federation           Wine           0.80
37  1986     Europe               Sweden           Beer           3.04
41  1986     Europe       Czech Republic           Beer           6.82
47  1986   Americas               Mexico          Other           0.04

Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [63]:
print(df[(df['Display Value']>=5) & (df['Beverage Types']=='Beer')].head(10))
#print(df[(df['Display Value'] >= 5) & (w_a_con['Beverage Types'] == 'Beer')].head(10))

    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [69]:
print(df[df['Country'].str.contains('co')])

    Year WHO region Country Beverage Types  Display Value
47  1986   Americas  Mexico          Other           0.04

Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset.

In [2]:
print(df[(df['Display Value']<2.5) & (df['Display Value']>.5)].head())

    Year WHO region                Country Beverage Types  Display Value
2   1985     Africa           Cte d'Ivoire           Wine           1.62
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
8   1986   Americas    Antigua and Barbuda        Spirits           1.55
11  1989   Americas              Guatemala           Beer           0.62
17  1989     Africa             Seychelles           Beer           2.23

Write a Pandas program to find average consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [6]:
print(df[(df['Beverage Types']=='Wine') & (df['Display Value']>2)].head())

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38