In [1]:
import numpy as np
import pandas as pd

In [2]:
mydict = [{'p': 2, 'q': 3, 'r': 4, 's': 5},
           {'p': 20, 'q': 30, 'r': 40, 's': 50},
           {'p': 200, 'q': 300, 'r': 400, 's': 500 }]

In [3]:
df = pd.DataFrame(mydict)
df

     p    q    r    s
0    2    3    4    5
1   20   30   40   50
2  200  300  400  500

In [9]:
df.iloc[1:3,0:3] #slice object row and column wise

     p    q    r
1   20   30   40
2  200  300  400

In [13]:
df.iloc[[0,1]]

    p   q   r   s
0   2   3   4   5
1  20  30  40  50

In [15]:
df.iloc[0:2]

    p   q   r   s
0   2   3   4   5
1  20  30  40  50

In [18]:
df.iloc[[0,2],[1,2]] #data fetch rows and columns

     q    r
0    3    4
2  300  400

In [19]:
df.iloc[1:3, 0:3]

     p    q    r
1   20   30   40
2  200  300  400