# The loc property is used to access a group of rows and columns by label(s) or a boolean array.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[2, 3], [6, 5], [9, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               2       3
viper               6       5
sidewinder          9       8

In [3]:
df.loc['viper']

max_speed    6
shield       5
Name: viper, dtype: int64

In [4]:
df.loc[['viper','cobra']]

       max_speed  shield
viper          6       5
cobra          2       3

In [6]:
df.loc['viper','shield'] #row and column

5

In [10]:
df.loc['cobra':'sidewinder', 'max_speed']

cobra         2
viper         6
sidewinder    9
Name: max_speed, dtype: int64

In [11]:
#Boolean list with the same length as the row axis

df.loc[[False, True, False]]

       max_speed  shield
viper          6       5

In [14]:
df.loc[df['shield']>2]

            max_speed  shield
cobra               2       3
viper               6       5
sidewinder          9       8

In [16]:
df.loc[df['shield']>2,['shield']]

            shield
cobra            3
viper            5
sidewinder       8

In [3]:
df.loc[lambda a: df['shield'] == 8]

            max_speed  shield
sidewinder          9       8

In [5]:
#Setting values
#Set value for all items matching the list of labels

df.loc[['viper','sidewinder'],['shield']]=50
df

            max_speed  shield
cobra               2       3
viper               6      50
sidewinder          9      50

In [3]:
#Getting values with a MultiIndex
#A number of examples using a DataFrame with a MultiIndex

tuples = [
   ('cobra', 's1'), ('cobra', 's2'),
   ('sidewinder', 's1'), ('sidewinder', 's2'),
   ('viper', 's2'), ('viper', 's3')
]

index = pd.MultiIndex.from_tuples(tuples)

values = [[6, 2], [0, 4], [20, 30],
         [1, 4], [5, 1], [36, 56]]

In [4]:
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

               max_speed  shield
cobra      s1          6       2
           s2          0       4
sidewinder s1         20      30
           s2          1       4
viper      s2          5       1
           s3         36      56

In [5]:

df.loc['cobra']

    max_speed  shield
s1          6       2
s2          0       4

In [6]:
#Single label for row and column. Similar to passing in a tuple, this returns a Series.
df.loc[('cobra','s2')]

max_speed    0
shield       4
Name: (cobra, s2), dtype: int64

In [7]:
#Single tuple. Note using [[]] returns a DataFrame
df.loc[[('cobra','s2')]]

          max_speed  shield
cobra s2          0       4

In [8]:
#Single tuple for the index with a single label for the column
df.loc[('cobra','s1'),'shield']

2

In [12]:
df.loc[('cobra','s1'):('viper','s2')]

               max_speed  shield
cobra      s1          6       2
           s2          0       4
sidewinder s1         20      30
           s2          1       4
viper      s2          5       1