# Pandas Series property: at
    Access a single value for a row/column label pair in Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[0, 4, 5], [0, 6, 7], [20, 30, 40]],
                  index=[1, 2, 3], columns=['P', 'Q', 'R'])
df

    P   Q   R
1   0   4   5
2   0   6   7
3  20  30  40

In [6]:
#Get value at specified row/column pair
df.at[2,'Q']

6

In [7]:
#value change to 20
df.at[2,'Q']=20

In [8]:
df.at[2,'Q']

20

In [10]:
#Get value within a Series
df.loc[3].at['R']

40

In [12]:
df.at[3,'R']

40