In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer


data= pd.read_csv("Test_imputer.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Test_imputer.csv'

In [4]:
data

    name   age    salary
0  Suraj  32.0  100000.0
1   Amit   NaN   30000.0
2  Rahul  35.0  110000.0
3   Ajay  34.0       NaN

In [2]:
import numpy as np
mean_imp= SimpleImputer(missing_values=np.nan, strategy='mean', axis=1)

TypeError: __init__() got an unexpected keyword argument 'axis'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
north_ame= pd.read_csv("north_america_2000_2010.csv", index_col=0)
south_ame=pd.read_csv("south_america_2000_2010.csv", index_col=0)

In [10]:
print(north_ame)
print(south_ame)

           2000    2001    2002    2003    2004  2005    2006    2007  2008  \
Country
Canada   1779.0  1771.0  1754.0  1740.0  1760.0  1747  1745.0  1741.0  1735
Mexico   2311.2  2285.2  2271.2  2276.5  2270.6  2281  2280.6  2261.4  2258
USA      1836.0  1814.0  1810.0  1800.0  1802.0  1799  1800.0  1798.0  1792

           2009    2010
Country
Canada   1701.0  1703.0
Mexico   2250.2  2242.4
USA      1767.0  1778.0
         2000  2001  2002  2003  2004  2005  2006  2007  2008  2009    2010
Country
Chile    2263  2242  2250  2235  2232  2157  2165  2128  2095  2074  2069.6

In [11]:
ame= pd.concat([north_ame,south_ame])

In [12]:
ame

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Country,,,,,,,,,,,
Canada,1779.0,1771.0,1754.0,1740.0,1760.0,1747,1745.0,1741.0,1735,1701.0,1703.0
Mexico,2311.2,2285.2,2271.2,2276.5,2270.6,2281,2280.6,2261.4,2258,2250.2,2242.4
USA,1836.0,1814.0,1810.0,1800.0,1802.0,1799,1800.0,1798.0,1792,1767.0,1778.0
Chile,2263.0,2242.0,2250.0,2235.0,2232.0,2157,2165.0,2128.0,2095,2074.0,2069.6

# SF Salaries Exercise - Solutions

In [3]:
sal= pd.read_csv("salaries.csv")

C:\Users\suraj.jain\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148648.000000,148043.000000,148648.000000,148648.000000,112490.000000,148648.000000,148648.000000,148648.000000,0.0
mean,74326.110220,66325.398119,5065.821161,3648.761721,25007.777439,74770.035453,93694.776345,2012.522617,NaN
std,42911.633315,42764.898947,11454.266982,8056.655841,15402.235424,50516.440633,62792.743250,1.117526,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN
25%,37163.750000,33587.350000,0.000000,0.000000,11535.192500,36169.370000,44072.062500,2012.000000,NaN
50%,74326.500000,65007.450000,0.000000,811.205000,28628.365000,71427.130000,92406.020000,2013.000000,NaN
75%,111488.250000,94691.050000,4657.597500,4236.035000,35566.790000,105840.920000,132876.997500,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [7]:
#What is the average BasePay ?
sal['BasePay'].mean()

66325.39811867346

In [8]:
#What is the highest amount of OvertimePay in the dataset ?
sal['OvertimePay'].max()

245131.88

In [18]:
#sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']
#sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']
sal.loc[sal['TotalPayBenefits'].idxmax()]

idxmax()

SyntaxError: invalid syntax (<ipython-input-18-02b69287a630>, line 5)

In [21]:
#What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up
#(there is also a lowercase Joseph Driscoll).

sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [27]:
#How much does JOSEPH DRISCOLL make (including benefits)? **
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [33]:
#What is the name of highest paid person (including benefits)?**
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [34]:
#What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?*
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148647, dtype: object

In [37]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ? 
sal.groupby('Year').mean()['BasePay']

Year
2011    63596.112293
2012    65435.950986
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [21]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63596.112293
2012    65435.950986
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [39]:
#How many unique job titles are there?
sal['JobTitle'].nunique()

2158

In [42]:
#** What are the top 5 most common jobs? **
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [53]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [65]:
#How many people have the word Chief in their job title? (This is pretty tricky) **
def chief_name(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [67]:
sum(sal['JobTitle'].apply(lambda x: chief_name(x)))

477

In [68]:
#** Bonus: Is there a correlation between length of the Job Title string and Salary? **
sal['title_len']=sal['JobTitle'].apply(len)

In [70]:
sal[['title_len','TotalPayBenefits']].corr() #no correlation

                  title_len  TotalPayBenefits
title_len           1.00000          -0.03692
TotalPayBenefits   -0.03692           1.00000